@font-face {
  font-family: nb;
  src: url(./SuisseIntl-Regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

#page1{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #985f5f;
}
#page1 video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-content{

  height: 100%;
  width: 100%;
color: white;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
 padding-bottom: 4vw;
} 
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3vw;
}
nav h3{
  font-size: 1.4vw;
  font-family: nb;
  font-weight: 100;
}
nav h4{
  font-size: 1.4vw;
  font-weight: 100;
}
#page1-content h1{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 31vw;
  font-weight:400;
  color: #fff;
letter-spacing: -18px;
}

#cursor{
  display: flex;
  align-items: center;
  justify-content : center;
  height: 85px;
  width: 85px;
  background-color: #ff5f38;
  position: fixed;
  border-radius: 50px;
  z-index: -1;
   transform: translate(-50%, -50%);
}
#cursor h3{
  font-size: 1.3vw;
  color: #111;
}
#page2{
  height: 100vh;
  width: 100%;
  background-color:rgb(255,255,255);
  padding: 3vw 2.8vw;
}
.nav2 h4{ 
  font-size: 1.9vw;
  font-weight: 500;
  }
#page2-top{
  width: 93.8%;
  margin-left: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: 1vw;
  border-bottom: 1px solid black;
}


#page2-content{
  font-family: nb;
 font-size: 4.2vw;
  line-height: 5vw;
  font-weight: 100;
} 

.line, .line1{
    overflow: hidden;
}

.line span, .line1 span{
    display: block;
} 
#page2-content .line1{
 text-indent: 101px; 
}

#page3{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 3vw;
  /* background-color: aqua; */
}
#page3-top{
  text-align: center;
  /* background-color: red; */
}

#page3-top h4{
  margin-bottom: 1vw;
  font-size: 1.1vw;
  font-weight: 500;
}

#page3-top h4 span{
  font-size: 0.7vw;
  padding: 5px 10px;
  background-color: #111;
  border-radius: 10px;
  color: #fff;
}

#page3-top h2{
  font-size: 4vw;
  font-weight: 500;

}

#page3-elements{
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 7vw;
}
#page3-elements .box{
  height: 100%;
  width: 32.5%;
  /* background-color: blue; */
}
#page3-elements .box video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}